@import "/src/app/shared/styles/variables";

:host {
  display: block;
}

.container {
  display: flex;
  height: 100vh;
}

.list-items {
  width: 100%;
  max-width: 1200px;
  margin: $unit * 4 auto;
}

.search-box {
  padding: $unit $unit * 2;
  border-radius: 20px;
  border: solid 1px lightgrey;
  width: 40%;
}
