@import "/src/app/shared/styles/variables";

:host {
  display: block;
}

.container {
  display: flex;
}

.list-items {
  width: 100%;
  max-width: 1200px;
  margin: $unit * 4 auto;
}

.search-box {
  padding: $unit $unit * 2;
  border-radius: 20px;
  border: solid 1px lightgrey;
  width: 40%;
}

.show-more-items-btn {
  display: block;
  width: 40%;
  padding: $unit $unit * 2;
  border-radius: 20px;
  background: $aquablue;
  margin: 0 auto;
  color: $white;
  border: none;
  font-size: 15px;
  margin-bottom: $unit * 4;
}
