<div class="container">
  <div class="list-items">
    <form [formGroup]="searchForm">
      <input
        type="text"
        [placeholder]="'Search items'"
        name="itemsSearch"
        formControlName="searchBox"
        class="search-box"
      />
    </form>

    <ng-container *ngFor="let item of items$ | async; let i = index">
      <app-item-summary
        *ngIf="i < showItemsCount"
        [item]="item"
      ></app-item-summary>
    </ng-container>

    <button (click)="showMoreItems()" class="show-more-items-btn">
      Show more
    </button>
  </div>
</div>
