/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "./app/shared/styles/_variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: block;
  margin: 0;
  background-color: $lightgrey;
  font-family: "Poppins", sans-serif;
}
